:root {
  --backgroundcolor: #202020;
  --boxcolor: #2F2F2F;
  --highlightcolor: yellow;
  --textcolor: white;
  --borderradius: 30px;
  --navbarsize: 80px;
  --songboxsize: 50px;
}

body {
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  font-family: futura-pt, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: var(--textcolor);
}

a:visited {
  text-decoration:none;
  color: var(--textcolor);
}

#maindisplay {
  padding-top: 200px;
}

#maintitle {
  width: 600px;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
}

#inputholder {
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
}

#container {
  justify-content: center;
}

#mainpagesearch {
  width: 300px;
  margin: 0 auto;
}


.headingtext {
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
}

#nicknames {
  font-size: 30px;
  color: #9F9F9F;
}

.mfatext {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.mfatext:hover {
  color: var(--highlightcolor);
  transition: all 0.2s ease-in;
}

.searchbox {
  font-family: futura-pt, sans-serif;
  height: 30px;
  width: 300px;
  font-size: 15px;
  color: var(--backgroundcolor);
  padding-left: 15px;
  border-radius: var(--borderradius);
  border-color: var(--backgroundcolor);
  transition: all 0.2s ease-in;
}


.searchbox:focus,
.searchbox:hover {
  outline: none;
  background-color: var(--highlightcolor);
  transition: all 0.2s ease-in;
}

#navbarholder {
  width: 100%;
  height: var(--navbarsize);
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: var(--backgroundcolor);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbarsize);
  width: 900px;
  position: relative;
  right: 190px;
}

#container {
  display: flex;
}

#pictureandsocialsbox {
  /*background-color: red;*/
  padding-top: var(--navbarsize);
  width: 350px;
  min-width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#artistpicture {
  background-color: var(--boxcolor);
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 125px;
  margin-top: 18px;
  overflow: hidden;
}

#picture {
  width: 100%;
}

#artistsociallinks {
  background-color: var(--boxcolor);
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: var(--borderradius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sociallink {
  width: 85%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-left: 20px;
}

.socialicon {
  width: 30px;
  margin-right: 8px;
}


#namedsecriptionsongsbox {
  /*background-color: yellow;*/
  display: flex;
  flex-direction: column;
}

#namebox {
  /*background-color: darkgreen;*/
  padding-top: var(--navbarsize);
}

#descriptionsongsbox {
  margin: 0;
  /*background-color: blue;*/
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 365px;
  padding-bottom: 50px;
  padding-right: 50px;
}

#descriptionbox {
  background-color: var(--boxcolor);
  width: 650px;
  border-radius: var(--borderradius);
}

#topsongsbox {
  background-color: var(--boxcolor);
  width: 300px;
  border-radius: var(--borderradius);
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

#topsongs {
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}
  .song {
    display: flex;
    align-items: flex-start;
    min-height: var(--songboxsize);
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.2s ease-in;
  }
  
  .songpicture {
    height: var(--songboxsize);
    margin-right: 10px;
    margin-left: 10px;
  }

a:hover .song{
  background-color: var(--highlightcolor);
  transition: all 0.2s ease-in;
  color: var(--backgroundcolor);
}


/* width */
#topsongsbox::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width: 1350px) {
  
  #container {
    flex-direction: column;
    margin-left: 50px;
  }

  #pictureandsocialsbox {
    flex-direction: row;
    width: 550px;
    height: 250px;
    justify-content: left;
  }

  #artistpicture {
    margin: 0;
    margin-top: 18px;
    margin-right: 50px;
  }

  #artistsociallinks {
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #navbarholder {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    background-color: var(--backgroundcolor);
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbarsize);
    width: 900px;
    position: relative;
    right: 0px;
    padding-right: 100px;
    min-width: 800px;
    margin-left: 50px;
  }

  #namebox {
    padding-top: 40px;
    line-height: 90px;
  }
  
  #nicknames {
    line-height: 50px;
  }
  
  #descriptionsongsbox {
    width: auto;
    min-width: 920px;
  }
  
  #descriptionbox {
    margin-right: 50px;
  }
  
  #topsongsbox {
    min-width: 200px;
  }
}





@media only screen and (max-width: 920px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  :root {
    --navbarsize: 130px;
  }
  
  .mfatext {
  position: relative;
    top: 7px;
}
  
  #search {
    position: relative;
    right: 8px;
    top: 6px;
  }

  #recentsearches {
    position: relative;
    bottom: 28px;
    left: 310px;
  }
  
}
